<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <!-- <div id="chat-container">
        <div id="chat-area">
        </div>
        <input type="text" placeholder="Type your message....." id="user-input">
        <button onclick="sendMessage()">Send</button>
    </div> -->
<h2>Enter text to analyze the sentiment</h2>
<form action="/analyze" method="post">
    <textarea name="text" cols="30" rows="5"></textarea>
    <input type="submit" value="Analyze">
</form>
</body>
</html> 